#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
    color: #ff0000;
    text-align: right;
}

#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link:active,#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link:hover {
    text-decoration: none;
    color: #ff0000;
}
#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link span:active,#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link span:hover {
    text-decoration: underline;
    color: #ff0000;
}

#main {
    margin-top:135px;
    border-left:1px solid #ff0000;
}
#cover {
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
}
#sidebar {
    margin-top:150px;
    position: absolute;
    
}
.main-content-wrap {
    max-width: 900px;
    margin: 0 0; /* remove center */

}